tr(data-customerid='#{customer._id}')
  td= indexInCollection + 1
  - each val, key in user.dataschema
    td!= customer[key]
      a(href='#', rel='tooltip', title='edit...').edit-tool
        .edit-icon
  td
    a.btn.btn-mini.btn-danger.customer-remove(href='#', rel='tooltip', title='Remove client')
      i.icon-remove.icon-white
