.row
  .span3
    .client-container
      .row
        ul.search-bar
          li
            input#search_input(type='text', placeholder='Search...')
          li
            button.btn.btn-info
              i.icon-search.icon-white
      .row
        .span3.clientlist-container
          table.table.table-striped
            tbody
  .span9
    .map-container
      #map_canvas
      
script(type='text/javascript', src='http://maps.googleapis.com/maps/api/js?key=AIzaSyDt3Wg9EIXvoW5qpro4e-hl9sgarNTmEnE&sensor=false')
script(type='text/javascript', src='js/index.js')

